

*{ 
    /* making it clean no margin & padding */
    margin: 0;
    padding: 0;
}

html,body {
    /* prevent over canvas scrolling */
    overflow: hidden;
}

.webgl{
    /* making it fullscreen */
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}